@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --font-dnSans: "DM Sans", serif;

  --color-font-brown-001: #a47864;
  --color-font-brown-002: #c0a294;
  --color-font-brown-004: #a69a90;
  --color-font-brown-003: #efe9e1;

  --color-font-red-001: #e85a4f;
  --color-font-red-002: #e98074;
  --color-font-brown-005: #8e8d8a;
  --color-font-brown-006: #d8c3a5;
  --color-font-brown-007: #eae7dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-dnSans);
  color: var(--color-font-brown-001);
}

html {
  background-color: transparent;
}

.pagThree {
  background-color: var(--color-font-brown-003);
  display: flex;
  flex-direction: column;
  background-image: url("../img/s-l1200.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50px;
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

}

.links {

  display: flex;
  width: 60vw;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
}
.links > ul {
  width: min-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.links > ul > li {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 400ms ease-in;
  width: min-content;
  height: 50%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.6s ease all;
  margin: 0 1em;

}
.links > ul > li::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 0;
  background-color: var(--color-font-red-002);
  transition: 0.6s ease-in-out all;
}

/*
  border-bottom: 100px solid var(--color-font-red-002);
  border-top: 100px solid var(--color-font-red-002);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
*/

.links > ul > li:hover::after {
  top: 0px;
}

.links > ul > li:hover > a {
  color: white;
}

.links > ul > li > a {

  display: flex;
  flex-direction: column;
justify-content: center;
padding-left: 0.8em;

  font-size: 1em;
  letter-spacing: 15px;
  width: min-content;
  height: 100%;
  z-index: 4;
  font-weight: 800;
  transition: all 0.4s ease-in-out;
}

.navbar > .logo > h2 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 2px;
  padding: 0.5em 0.8em;
  border: 1px solid var(--color-font-brown-001);
  background-color: var(--color-font-brown-001);
  color: white;
}

.box {
  width: 0vw;
  height: 100vh;
  background-color: var(--color-font-brown-002);
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.box-motion {
  width: 100vw;
}

.box-motion-two {
  left: 90vw;
}

.social-icons {
  display: flex;
  width: 20vw;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  width: max-content;
  padding: 0 1.5em;
}

.social-icons > a {
  display: flex;
  margin: 0 0.2em;
}
.social-icons > a > i {
  padding: 0.3em;
  margin: auto 0.2em;
  width: max-content;
  font-size: 1.8em;
  transition: all 0.8s ease-in-out;
  color: var(--color-font-red-001);
}

.social-icons > a > i:hover {
  scale: 1.5;
}

.logo{
    width: 12%;
}

.logo > h2 {
  position: relative;
  animation: myfirst 0.5s infinite;
  animation-direction: alternate;
}

@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 10px;
    top: 0px;
  }
}
